/************************
**    MEDIA QUERIES    **
************************/



/**** SMALL DEVICES FROM 1024 TO 1200px ****/
@media only screen and (max-width: 1200px) {

  .row { width: 90%; }

  .hero-text-box { width: 90%; }

  figure.program-photo h3 { padding-top: 5%; }


}


/**** SMALL DEVICES FROM 768 TO 1024px ****/
@media only screen and (max-width: 1024px) {

  body { font-size: 18px; }

  .row { width: 94%; }

  h2 { font-size: 1.9em; }

  .long-copy {
    width: 90%;
    margin-left: 5%;
  }

  .long-copy-left { margin-bottom: 20px; }

  .hero-text-box { width: 94%; }

  .box { padding: 0 1em; }

  figure.program-photo figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 8px;
    left: 10px;
  }

  figure.program-photo figcaption { padding: 1.3em; }

  figure.program-photo h3 {
    padding-top: 1em;
    font-size: 1.3em;
  }

  .section-coach { overflow: hidden; }

  .coach-box:first-child  {
    position: relative;
    height: 460px;

  }

  .coach-box:first-child img {
    margin: 0;
    position: absolute;
    bottom: 0;
  }

  .coach-box:last-child { padding: 0; }



  .plan-price { font-size: 2.9em; }
  .plan-price span { font-size: .3em; }

  blockquote { padding: 0 1em; }

  .social-links i { padding: 14px 12px; }

}


/**** SMALL DEVICES FROM 481px TO 767px ****/
@media only screen and (max-width: 767px) {

  body { font-size: 16px; }

  section, footer { padding: 40px 0; }

  .main-nav { display: none; }

  .hero-text-box {
    width: 90%;
    top: 60%;
    text-align: center;
  }

  h1 {
    font-size: 5em;
    line-height: 100%;
  }
  h3.subtitle {
    letter-spacing: 0px;
    margin-bottom: 20px;
   }

  .hero-text-box > .btn { width: 80%; }

  .btn-full:link, .btn-full:visited, input[type="submit"] { margin-right: 0; }

  .btn-full:link, .btn-full:visited { margin-bottom: 20px; }

  .col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .box{
    padding: 0 2em;
    margin-bottom: 40px;
  }

  .box:last-child{
    margin-bottom: 0;
  }

  .box{ padding: 0 2em;}

  .programs-showcase { margin-top: 20px; }

  .programs-showcase li {
    width: 100%;
    margin-bottom: 10px;
  }
  .programs-showcase li:last-of-type { margin-bottom: 0; }

  figure.program-photo {
    height: 200px;
  }

  figure.program-photo img {
    -webkit-transform: scale(1.10) translateY(-20%);
            transform: scale(1.10) translateY(-20%);
  }
  figure.program-photo:hover img {
    -webkit-transform: scale(1) translateY(-20%);
            transform: scale(1) translateY(-20%);
  }

  figure.program-photo p { max-width: 80%; }

  figure.program-photo figcaption::before {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }

  .section-coach {
    padding-bottom: 1em;
  }
  .coach-box:first-child img {
    width: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .coach-box:last-child {
    padding: 0 .9em;
    text-align: center;
  }

  .section-quote {
    background-position: 66% center;
  }

  .plan-box:last-child { border-bottom: 0;}

}


/**** SMALL DEVICES FROM 0 TO 480px ****/
@media only screen and (max-width: 480px) {

  h1 { font-size: 4em; }

  .social-links li { margin-right: 15px; }

}



@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    header { min-height: 580px; }
    .hero-text-box { top: 100%;}

    .coach-box:first-child img {
      width: 62%;
    }

}
