/********************
** BASIC SETUP  **
*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: 'lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/************************
** REUSABLE COMPONENTS **
************************/

/****** LAYOUT STYLES ******/

.row {
  max-width: 1200px;
  margin: 0 auto;
}

section, footer {
  padding: 80px 0;
}



/****** TYPOGRAPHY STYLES ******/

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e76b37;
}

h1 {
  font-size: 5em;
  font-style: italic;
  margin-bottom: 5px;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  color: #0C0B24;
}

h2:after {
  display: block;
  content: "";
  height: 3px;
  background-color: #e76b37;
  width: 150px;
  margin: 30px auto;

}

.subtitle {
  color: #fff;
  margin-bottom: 36px;
  font-weight: 100;
  font-size: 1.8em;

}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;

}

h4.quote {
  font-style: italic;
  font-size: 5em;
  text-align: center;
  color: #fff;
}

.long-copy,
.long-copy-left {
  font-size: 1.1em;
  margin-bottom: 40px;
  font-weight: 400;
}

.long-copy {
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

.long-copy-left {
  text-align: left;
  margin-left: 0;
}

blockquote, p {
  font-size: .9em;
  line-height: 150%;
}

.text-center {
  text-align: center;
}

label {
  color: #e76b37;
}

label,
input[type="text"],
input[type="email"] {
  font-weight: 500;
  letter-spacing: 1px;
}

/****** BUTTONS STYLES ******/

.btn:link,
.btn:visited,
input[type="submit"] {
   padding: 15px 30px;
   font-weight: 400;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 0.8em;
   border-radius: 3px;
   -webkit-transition: all .2s;
           transition: all .2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
  display: inline-block;
  margin-right: 10px;
  background-color: #e76b37;
  color: #fff;
  border: 2px solid #e76b37;
  border-radius: 3px;
}

.btn-ghost:link,
.btn-ghost:visited  {
  display: inline-block;
  background-color: none;
  color: #e76b37;
  border: 2px solid #e76b37;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:visited {
  background-color: #d25019;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:visited {
  border: 2px solid #d25019;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #d25019;
  color: #fff;
}


/*******************
** HEADER SECTION **
*******************/

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(67, 67, 67, .04)),  url("../img/hero.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(67, 67, 67, .04)),  url("../img/hero.jpg");
}

.hero-text-box {
  position: absolute;
  width: 1200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  width: 150px;
  margin-top: 20px;
  height: auto;
  float:left;
}

/*main navigation*/


.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
  margin-left: 38px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  color: #e76b37;
  border-bottom: 2px solid #e76b37;
}


/*sticky navigation*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(256, 256, 256, .95);
  z-index: 30;
  padding: 5px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #0C0B24;
  border-bottom: 5px solid transparent;
  padding-bottom: 38px;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
  color: #e76b37;
  border-bottom: 5px solid #e76b37;
}

.sticky .logo {
  height: 90px;
  margin-top: 0px;
  width: auto;
  float:left;
}



/*********************
** BENEFITS SECTION **
*********************/

.box {
  padding: 0 1.5em;
  text-align: center;
}

.heart-icon,
.functional-icon,
.scalable-icon {
  height: 70px;
  fill: #e76b37;
  margin-bottom: 10px;
}

/*********************
** PROGRAMS SECTION **
*********************/

.program-section {
  background-color: #0C0B24;
  padding-bottom: 0;
}

.program-section h2 {
  color: #e76b37;
}

.program-section h2::after {
  background-color: #fff;
}


.programs-showcase {
  list-style: none;
  width: 100%;
  margin-top: 40px;
}

.programs-showcase li {
  display: block;
  float: left;
  width: 33.333%;
}

figure.program-photo {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}

figure.program-photo:hover {
  background-color: #d25019;

}

figure.program-photo img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.7;
  -webkit-transform: scale(1.10);
        transform: scale(1.10);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
          transition: opacity .5s, -webkit-transform .5s;
          transition: opacity .5s, transform .5s;
          transition: opacity .5s, transform .5s, -webkit-transform .5s;
}

figure.program-photo:hover img {
  opacity: .2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

figure.program-photo figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	height: 100%;
  padding: 3em;
}

figure.program-photo figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  border: 3px solid #fff;
}

figure.program-photo h3,
figure.program-photo p  {
  text-align: center;
  color: #fff;
}

figure.program-photo h3 {
  padding-top: 15%;
}

figure.program-photo p {
  max-width: 200px;
  margin: 0 auto;
}

figure.program-photo figcaption::before,
figure.program-photo h3,
figure.program-photo p {
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s;
          transition: all .4s;
}

figure.program-photo:hover figcaption::before,
figure.program-photo:hover h3,
figure.program-photo:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*********************
**   COACH SECTION  **
*********************/

.section-coach {
  padding-top: 2em;
  padding-bottom: 0;
  /*background-color: #fff;*/
}

.coach-box {
  margin-bottom: 0;
}

.coach-box:first-child img {
  width: 100%;
  max-width: 493px;
  float: right;
  margin-right: 3em;
}

.coach-box:last-child {
  text-align: left;
  margin-left: 0;
  padding: 2em 4.5em 0 0
}

.coach-box:last-child p.coach-description {
  margin-bottom: 30px;
}


/************************
** INSPIRATION SECTION **
************************/

.section-quote {
  padding: 8em 0;
  background-size: cover;
  background-position: center center;
  background-image: -webkit-linear-gradient(right, rgba(210, 80, 25, .5), rgba(168, 50, 121, .2)), url("../img/inspiration.jpg");
  background-image: linear-gradient(to left, rgba(210, 80, 25, .5), rgba(168, 50, 121, .2)), url("../img/inspiration.jpg");
}


/************************
** TESTIMONIALS SECTION **
************************/

.section-testimonials {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
  background-image: -webkit-linear-gradient(right, rgba(12, 11, 36, 1), rgba(12, 11, 36, .5)), url("../img/testimonials-bg.jpg");
  background-image: linear-gradient(to left, rgba(12, 11, 36, 1), rgba(12, 11, 36, .5)), url("../img/testimonials-bg.jpg");
}

.section-testimonials h2 {
  color: #e76b37;
}

.section-testimonials h2::after {
  background-color: #fff;
}

.section-testimonials img {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
}

blockquote {
  position: relative;
  font-style: italic;
  padding: 0 2em;
  text-align: justify;
}

blockquote::before {
  content: "\201c";
  position: absolute;
  font-size: 4em;
  top: -5px;
  left: 15px;
}

cite {
  margin-top: 20px;
  font-size: .95em;
  font-weight: 500;
  display: block;
  text-align: center;
  color: #e76b37;
}


/************************
**    PLANS SECTION    **
************************/

.plan-box {
  border-bottom: 4px solid #e76b37;
  padding: 32px;
  text-align: center;
}

.plan-price {
  font-size: 3em;
  font-weight: 500;
  color: #0C0B24;
  line-height: 100%;
  margin-bottom: 10px;
}

.plan-name {
  margin-bottom: 10px;
  color: #0C0B24;
}

.plan-price span {
  font-size: .3em;
  vertical-align: middle;
}

.plan-price-level {
  margin-bottom: 30px;
}

.plan-box ul {
  list-style: none;
  margin-top: 30px;
}
.plan-box ul li {
  padding: 2% 0;
  font-size: .9em;
}

/************************
**    FORM SECTION    **
************************/

.contact-form {
  border: 3px solid #0C0B24;
  margin-top: 20px;
  padding: 3em;
}

label {
  margin-bottom: 20px;
}

label,
input[type="text"],
input[type="email"] {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  padding-bottom: 10px;
  border-color: #0C0B24;
  border-width: 0 0 1px 0;
  margin-bottom: 40px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  color:  #e76b37;
  border-color: #e76b37;
  outline: none;
}

/************************
**    FOOTER SECTION   **
************************/

footer {
  background-color: #0C0B24;
}

footer h2 {
  color: #e76b37;
}

footer h2::after {
  background-color: #fff;
}

.social-links {
  list-style: none;
  text-align: center;
  margin: 20px 0 30px 0;
}

.social-links li {
  display: inline-block;
  margin-right: 40px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  color: #fff;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.social-links li a:hover,
.social-links li a:active {
  color: #d25019;
}

.social-links i {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 12px 10px;
  -webkit-transition: border .5s;
  transition: border .5s;
}

.social-links i:hover {
  border: 2px solid #d25019;
}

footer p {
  text-align: center;
  color: rgba(2546, 256, 256 , 0.3);
  font-size: .8em;
}
